@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ToDo</title>
</head>
<body>
    <div>        
            <h3>List</h3>
 
            <table>
                <tr>
                    
                    <td><p><a href="/Home/Send">send</a></p></td>
                </tr>
                
                <tr>
                    <td><p>Name</p></td>
                    <td><p>IsComplate</p></td>
                    <td><p>Srart</p></td>
                    <td><p>Finish</p></td>
                    <td><p>Rating</p></td>

                    <td></td>
                </tr>
                @foreach (var b in ViewBag.Items)
            {
                    <tr>
                        <td><p>@b.name</p></td>                       
                        <td><p>@b.IsComplate </p></td>
                        <td><p>@b.FirstData </p></td>
                        <td><p>@b.LastData </p></td>
                        <td><p>@b.rating </p></td>

                        <td>
                        <td><p><a href="/Home/EditTask/@b.Id">Сhange</a></p></td>
                        <td><p><a href="/Home/Delete/@b.Id">Delete</a></p></td>
                        <td><p><a href="/Home/Sub/@b.Id">AddSubTask</a></p></td>
                        <td><p><a href="/Home/Sub1/@b.Id">SubTask</a></p></td>
                        <td><p><a href="/Home/Edit/@b.Id">Tag</a></p></td>
                        <td><p><a href="/Home/Details/@b.Id">Tag</a></p></td>

    
                    </tr>
                }
            </table>
</div>
</body>
</html>
