@using Test.Models
@model Item

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Task @ViewBag.ItemId</h4>
    <hr />
    <dl>
        <dt>Name</dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>Rating</dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>SabTasks</dt>

        <dd>
            <table>
                <tr>
                    <td><p>Name</p></td>                   
                    <td><p>Order</p></td>

                    <td></td>
                </tr>
                @foreach (var b in ViewBag.SubTasks)
            {
                    <tr>
                        <td><p>@b.name</p></td>
                        <td><p>@b.order </p></td>

                        <td>
                        <td><p><a href="/Home/DeletSub/@b.Id">Delete</a></p></td>

                    </tr>
                }
         

            </table>
        </dd>
    </dl>
</div>